<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
		
		<!-- 配置solrServer -->
		
		<!-- 单机版 -->
		<bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
			<constructor-arg name="baseURL" value="${baseURL}"/>
		</bean>
		
		<!-- 集群版 -->
		<!-- <bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
			<constructor-arg name="zkHost" value="${cloudUrl}"/>
			<property name="defaultCollection" value="collection2"/>
		</bean> -->
</beans>